footer {
  background-color: var(--main-bg-color);
  padding: 32px 0px 39px 0px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_copy {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_logo {
  width: 130px;
  height: 50px;
}
.footer_copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer_button {
  max-width: 264px;
  width: 100%;
  height: 40px;
  color: var(--main-text-color);
  border-radius: 20px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 920px) {
  .footer_buttons {
    margin-top: 0;
  }
  /* .footer_button {
    background-color: transparent;
  } */
}
@media (max-width: 650px) {
  .footer_container {
    flex-direction: column;
    gap: 50px;
  }
}
