.main-picture {
  position: relative;
  top: 80px;
  background-image: url('../img/main-photo/bgphoto.png');

  /* Full height */
  height: calc(100vh - 80px);
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-picture_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-picture_container {
  position: relative;
}
.main-photo_colage {
  max-height: 500px;
}
.text_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.sub_title {
  font-size: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 25px;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
